.page.theme_dark {
	--color-background: #000028;
	--color-shadow: #ff0070;
	--color-shadow-link: #ff0070;
	--color-decor: #ff0070;
	--color-decor-40: #ff007040;
	--color-accent: #ff0070;
	--color-accent-title: #db00ff;
	--color-title: #000028;
	--color-text: #f1b2ce;
	--background-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
	.page {
		background-image: var(--background-image);
	}
}
