*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font-family: var(--global-font, sans-serif);
	font-weight: normal;
	font-size: var(--global-font-size, 18px);
	background-color: var(--color-background);
	max-inline-size: var(--global-width);
	inline-size: minmax(100%, var(--global-width));
}

ul {
	list-style: none;
}

button,
a {
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
}

.page {
	background-image: url('../images/cover-image.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
}

.title {
	color: var(--color-accent-title);
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	text-shadow: 4px 4px 0 var(--color-shadow);
}

.decorated_title {
	color: var(--color-title);
	background-color: var(--color-accent);
}

.main {
	display: flex;
	flex-direction: column;
	row-gap: 80px;
	margin-inline: 20px;
	margin-block: 60px;
}

.image {
	object-fit: cover;
	object-position: center;
	inline-size: 100%;
	block-size: 100%;
}

.link {
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--color-shadow-link);
}

.link:hover {
	text-decoration: underline;
}

.link:focus {
	outline: none;
}

.link:focus-visible {
	outline: 1px solid var(--color-text);
}

.decorated_corner {
	position: relative;
}

.decorated_corner::after {
	content: '';
	position: absolute;
	border-top: 1px solid var(--color-decor);
	border-right: 1px solid var(--color-decor);
	inline-size: 25px;
	block-size: 25px;
}

.decorated_corner::before {
	content: '';
	position: absolute;
	border-bottom: 1px solid var(--color-decor);
	border-left: 1px solid var(--color-decor);
	inline-size: 25px;
	block-size: 25px;
}
