*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font-family: var(--global-font);
	font-weight: normal;
	font-size: var(--global-font-size, 18px);
	background-color: var(--color-background);
	max-inline-size: var(--global-width);
	inline-size: minmax(100%, var(--global-width));
}

ul {
	list-style: none;
}

button,
a {
	color: currentColor;
	font-family: var(--global-font);
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
}
