.page.theme_light {
	--color-fill: #fff1f7;
	--color-accent-first: #ffc2e6;
	--color-accent-second: #ff0070;
	--color-subsidiary-first: #ff8dcb;
	--color-subsidiary-second: #353430;

	--background-image: url('../images/cover-image-light.png');

	--color-background: var(--color-fill, #fff1f7);
	--color-accent-title: var(--color-accent-first, #ffc2e6);
	--color-accent-title-shadow: var(--color-subsidiary-first, #ff8dcb);
	--color-accent-background: var(--color-subsidiary-first, #ff8dcb);
	--color-title-first: var(--color-subsidiary-second, #353430);
	--color-title-first-hover: #000;
	--color-title-second: var(--color-subsidiary-second, #353430);
	--color-article-text: var(--color-subsidiary-second, #353430);
	--color-decorate: var(--color-subsidiary-second, #353430);
	--color-link-shadow: var(--color-subsidiary-first, #ff8dcb);
}

.theme_light .header span::after,
.theme_light .header span::before {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-fill: #fff1f7;
		--color-accent-first: #ffc2e6;
		--color-accent-second: #ff0070;
		--color-subsidiary-first: #ff8dcb;
		--color-subsidiary-second: #353430;

		--background-image: url('../images/cover-image-light.png');

		--color-background: var(--color-fill, #fff1f7);
		--color-accent-title: var(--color-accent-first, #ffc2e6);
		--color-accent-title-shadow: var(--color-subsidiary-first, #ff8dcb);
		--color-accent-background: var(--color-subsidiary-first, #ff8dcb);
		--color-title-first: var(--color-subsidiary-second, #353430);
		--color-title-first-hover: #000;
		--color-title-second: var(--color-subsidiary-second, #353430);
		--color-article-text: var(--color-subsidiary-second, #353430);
		--color-decorate: var(--color-subsidiary-second, #353430);
		--color-link-shadow: var(--color-subsidiary-first, #ff8dcb);
	}

	.page {
		background-image: var(--background-image, url('../images/cover-image-light.png'));
	}

	.header span::after,
	.header span::before {
		display: none;
	}
}
