.page.theme_light {
	--color-background: #fff1f7;
	--color-shadow: #ff0070;
	--color-shadow-link: #ff8dcb;
	--color-decor: #353430;
	--color-decor-hover: #35343040;
	--color-decor-text: #353430;
	--color-accent: #ff8dcb;
	--color-accent-title: #ffc2e6;
	--color-title: #353430;
	--color-text: #353430;
	--background-image: url('../images/cover-image-light.png');
}

.theme_light .header span::after,
.theme_light .header span::before {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: #fff1f7;
		--color-shadow: #ff0070;
		--color-shadow-link: #ff8dcb;
		--color-decor: #353430;
		--color-decor-hover: #35343040;
		--color-decor-text: #000028;
		--color-accent: #ff8dcb;
		--color-accent-title: #ffc2e6;
		--color-title: #353430;
		--color-text: #353430;
	}

	.page {
		background-image: var(--background-image, url('../images/cover-image-light.png'));
	}
}
